@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.back{
    width: 100%;
    margin-top: 600px;
}

.headingab{
    text-align: center;
    color: #8081F1;
    font-size: 50px;
    font-family: 'DM Sans', sans-serif;
}

.paraab{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #8081F1;
    text-align: center;
    margin-top: 150px;
    margin-right: 200px;
    margin-left: 200px;
}