html {
  overflow: hidden;
}

.astro{
  position: absolute;
  width: 291px;
  height: 323px;
  left: 55em;
  top: 10em;
}

.astro2{
  position: absolute;
  width: 613px;
  height: 403px;
  left: 22.75em;
  top: 0em;
  z-index: -1;
}

.astro3{
  position: absolute;
  width: 70em;
  height: 70em;
  left: 50em;
  top: 25em;
}
