.astro{
  position: absolute;
width: 291.69px;
height: 323.93px;
left: 750.61px;
top: 40.51px;
}

.astro2{
  position: absolute;
  width: 603.77px;
  height: 361.49px;
  left: 271.5px;
  top: -85px;
}

.astro3{
  position: absolute;
  width: 600.71px;
  height: 400.41px;
  left: 700.29px;
  top: 240px;
}
