.astro{
  position: absolute;
  width: 291px;
  height: 323px;
  left: 950px;
  top: 150px;
}

.astro2{
  position: absolute;
  width: 603px;
  height: 390px;
  left: 450px;
  top: 0px;
}

.astro3{
  position: absolute;
  width: 800px;
  height: 800px;
  left: 980px;
  top: 450px;

}

.astro4{
  position: absolute;
  left: -1.14%;
  right: 16.76%;
  top: 8.48%;
  bottom: 46.27%;
}
