/*  Made by Hynes  */ 
/* Buttons Enhanced By Bolt */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    color: rgb(226, 226, 226);
}

.nav-ul li{
    display: inline-block;
}

.nav-bar button {
    display: inline-block;
}

.nav-ul li a {
    transition: 0.5s ease 0s;
    padding: 20px 20px;
    color: white;
    font-size: 18px;
}

.nav-ul li a:hover {
    color: #6366F1;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25.7452px;
    line-height: 31px;
    display: inline-block;
    cursor: pointer;
    color: #DFDCDC;
    margin-right: auto;
    letter-spacing: 3px;
    transition: 0.5s ease 0s;
}

.logo:hover {
  color: #6366F1;
}

button  {
    padding: 9px 25px;
    background-color: transparent;
    border: 1.14934px solid #6366F1;
    box-sizing: border-box;
    border-radius: 71.2591px;
    color: #FFFFFF;
    transition: 0.5s ease 0s;
    cursor: pointer;
    margin-left: 30px;
}


.heading-landing {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 73.5578px;
    margin-left: 10%;
    margin-top: 80px;
}

.short-description {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 20.6881px;
    margin-left: 10%;
    margin-top: 30px;
    margin-right: 480px;
}

.book-a-flight {
    padding: 12px 30px;
    background-color: #6366F1;
    border: 1.14934px solid #6366F1;
    box-sizing: border-box;
    border-radius: 71.2591px;
    color: #FFFFFF;
    transition: 0.5s ease 0s;
    cursor: pointer;
    margin: 70px 0 55px 135px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

.book-a-flight:hover {
  background-color: #202130;
  border: 1.14934px solid #6366F1;
  transition: 0.5s;
}

.button-description a {
    margin-left: 30px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    color: #DFDCDC;
    line-height: 24px;
}

.how-it-works {
    transition: 0.3s ease 0s;
}

.how-it-works:hover {
    font-size: 1.3em;
    font-weight: bold;
    color: #6366F1;
}

.how-it-works-total {
    display: inline-flex;
}

.arrow-img {
    width: 2em;
    margin-top: -0.2em;
    margin-left: 0.7em;
    transition: 0.3s ease 0s;
    border-radius: 50px;
}

.arrow-img:hover {
    cursor: pointer;
}

.hireus:hover {
  background-color: #6366F1;
}

