@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;602;802&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

nav {
    padding: 7px 0;
}

nav ul {
    display: inline-flex;
    float: right;
    margin: 0 10px;
}

nav .nav-links {
    margin-top: 1.5vh;
}

nav ul li, a {
    list-style-type: none;
    text-decoration: none;
}

nav ul li a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 350;
    padding: 5px 11px;
    margin: 0 9px;
    position: relative;
}

nav .logo {
    font-size: 1.5em;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: white;
    margin: 0 0 0 1em;
    transition: 0.3s ease;
}

nav ul .hire-us {
    border: 1px solid #6366F1;
    border-radius: 50px;
    padding: 8px 20px;
    margin: 0 10px 0 15px;
    transition: 0.3s ease;
}

/* HOVER EFFECTS */

 a:hover {
    text-decoration: none;
    color: #fff;
}

nav ul .hire-us:hover {
    background-color: #6366F1;
    font-size: 24px;
    padding: 9px 21px;
}

nav .logo:hover {
    color: #6366F1;
}

nav ul .hire-us:hover::before {
    transform: scaleX(0);
  }

nav ul a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6366F1;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
nav ul a:hover::before {
    transform: scaleX(1);
  }

@media (max-width: 751px){
    .nav-laptop {
        display: none;
    }
}


/* bootstrap nav */


@media (min-width: 750px){
    .navbar {
        display: none;
    }
}

.nav-flex-icons {
    border: #6366F1 solid 2px;
    text-align: center;
}

.nav-flex-icons:hover {
    background-color: #6366F1;
    transition: 0.5s;
}

.navbar-toggler-icon {
    color: #6366F1;
}

