/*  Made by Hynes  */
/* Buttons Enhanced By Bolt */

@import "vars";


li,
a,
button {
  font-family: $mulish;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  color: rgb(226, 226, 226);
}

.nav-bar button {
  display: inline-block;
}

.nav-ul li {
  display: inline-block;

  & a {
    transition: 0.5s ease 0s;
    padding: 20px 20px;
    color: white;
    font-size: 18px;

    &:hover {
      color: $primcol;
    }
  }
}


.logo {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25.7452px;
  line-height: 31px;
  display: inline-block;
  cursor: pointer;
  color: #dfdcdc;
  margin-right: auto;
  letter-spacing: 3px;
  transition: 0.5s ease 0s;

  &:hover {
    color: $primcol;
  }
}


button {
  padding: 9px 25px;
  background-color: transparent;
  border: 1px solid $primcol;
  box-sizing: border-box;
  border-radius: 71.2591px;
  color: #ffffff;
  transition: 0.5s ease 0s;
  cursor: pointer;
  margin-left: 30px;
}

.heading-landing {
  color: white;
  font-family: $mulish;
  font-weight: 800;
  font-style: normal;
  font-size: 73.5578px;
  margin-left: 80px;
  margin-top: 180px;
}

.short-description {
  color: white;
  font-family: $mulish;
  font-weight: 300;
  font-size: 20.6881px;
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 980px;
}

.book-a-flight {
  padding: 12px 30px;
  background-color: $primcol;
  border: 1px solid $primcol;
  box-sizing: border-box;
  border-radius: 71px;
  color: #ffffff;
  transition: 0.5s ease 0s;
  cursor: pointer;
  margin: 70px 0 55px 70px;
  font-size: 20px;
  font-family: $mulish;
  font-weight: 700;

  &:hover {
    background-color: #202130;
    border: 1px solid $primcol;
    transition: 0.5s;
  }
}

.button-description a {
  margin-left: 30px;
  font-family: $mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2em;
  color: #dfdcdc;
  line-height: 24px;
}

.how-it-works {
  transition: 0.3s ease 0s;
  &:hover {
    font-size: 1.3em;
    font-weight: bold;
    color: $primcol;
  }

  &-total {
    display: inline-flex;
  }
}

.arrow-img {
  width: 2em;
  margin-top: -0.2em;
  margin-left: 0.7em;
  transition: 0.3s ease 0s;
  border-radius: 50px;

  &:hover {
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.hireus:hover {
  background-color: $primcol;
}
