@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,800;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primcol: #6366f1;
$mulish: "Mulish", sans-serif;
$montserrat: "Montserrat", sans-serif; // Montserrat

.back {
  width: 100%;
  margin-top: 600px;
}

.headingab {
  text-align: center;
  color: #8081f1;
  font-size: 50px;
  font-family: "DM Sans", sans-serif;
}

.paraab {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: #8081f1;
  text-align: center;
  margin-top: 150px;
  margin-right: 200px;
  margin-left: 200px;
}
