@import "nav";
@import "vars";

body {
  position: relative;
  width: auto;
  height: 971px;
  background: radial-gradient(
    75.08% 149.64% at 63.8% 33.21%,
    #0a0b16 0%,
    #242535 86.2%,
    #242535 100%
  );
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

.astro {
  position: absolute;
  width: 291px;
  height: 323px;
  left: 55em;
  top: 10em;
}

.astro2 {
  position: absolute;
  width: 613px;
  height: 403px;
  left: 22.75em;
  top: 0em;
}

.astro3 {
  position: absolute;
  width: 70em;
  height: 70em;
  left: 50em;
  top: 25em;
}
