@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  overflow-x: hidden;
}

:root {
  --bg: "https://cdn.discordapp.com/attachments/917274928963813436/932531995060367380/EseGgsTUUAEbMbH.png";
}

::selection {
  @apply bg-indigo-600 opacity-0;
}

.ease {
  transition: 0.5s ease 0s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
::-webkit-scrollbar {
  width: 0px;
}

.ease-more {
  transition: 1s ease 0s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
}

.inter {
  font-family: "Inter", sans-serif;
}

.mulish {
  font-family: "Mulish", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

@layer components {
  body {
    background: url(assets/blob-bg.svg) no-repeat center center fixed;
    background-size: cover;
    @apply bg-[#171719];
  }

  nav {
    @apply flex w-screen items-center select-none
    backdrop-blur-[3px] !bg-[rgba(43,41,68,0.35)] 
    z-[10000000000000000000000000000] h-14 
    fixed top-0 ease-more;
  }


  .nav-container {
    @apply flex items-center justify-between w-screen;
  }

  .nav-links {
    @apply list-none md:flex hidden items-center cursor-pointer;
  }

  li a {
    @apply hover:text-indigo-500 text-gray-200 hover:font-[500] font-[400];
  }
  .nav-links li {
    @apply py-2 px-5 cursor-pointer;
  }

  navbtn {
    @apply xd:flex hidden px-12 justify-center items-center;
  }

  navbtn a {
    @apply content-center px-6 py-[.4rem] rounded-lg bg-indigo-600 text-gray-200 font-semibold hover:bg-indigo-700 ease-more;
  }

  logo {
    @apply flex justify-center mx-2 items-center flex-shrink-0;
  }

  logo a {
    @apply cursor-pointer montserrat px-8 text-gray-100 text-xl font-bold tracking-wider;
  }

  links {
    @apply hidden xd:flex justify-center;
  }

  hl {
    @apply text-indigo-500;
  }

  #home {
    @apply w-[100vw] h-[100vh] flex flex-col top-0  montserrat;
  }
  #home span {
    @apply text-center block my-auto;
  }

  #home span p {
    @apply text-gray-300 leading-8 mt-6;
  }

  #about {
    @apply !bg-[#12121c] w-[100vw] h-[80vh] flex flex-col montserrat;
  }

  h1 {
    @apply text-gray-300 shadow-sm font-extrabold tracking-wider text-[220%] text-center;
  }
}
